.test {
  height: 35em;
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.padding-top {
  padding-top: 5%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.row {
  width: 100%;
}

.fixed-width {
  width: 4em;
}

.btn-primary:not([disabled]):not(.disabled):focus {
  background-image: none;
}

primary:not([disabled]):not(.disabled).active:hover {
  background-image: linear-gradient(#ccc, #fff 40%, #333)
}

.btc.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.btc.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#FF5757, rgb(155, 53, 53), #FF5757);
}

.bch.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.bch.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#ABFF57, #5F9B36, #ABFF57);
}

.btg.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.btg.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#57FFFF,#379999,#57FFFF);
}

.ltc.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.ltc.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#AB57FF, #7039A7, #AB57FF);
}

.eth.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.eth.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#5784FF, #3855A5, #5784FF);
}

.dash.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.dash.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#57FF97,#3CA865,#57FF97);
}

.xem.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.xem.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#FF57F4,#A73A9F,#FF57F4);
}

.xmr.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.xmr.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#FFB657,#A17438,#FFB657);
}

.zec.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.zec.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#FFFF57,#A0A037,#FFFF57);
}

.xvg.btn-primary:not([disabled]):not(.disabled).active:hover, .showing.xvg.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#001EFF,#021396,#001EFF);
}

.timePeriod.btn-primary:not([disabled]):not(.disabled).active:hover, .currentPeriod.btn-primary:not([disabled]):not(.disabled).active {
  background-image: linear-gradient(#969696,#6E6E6E,#969696);
}